{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div id="app-plan">
    <h1>Hello ! ✅</h1>
    <plan-picker></plan-picker>

</div>
{% endblock %}
{% block javascripts %}
    <script type="text/x-template" id="plan-picker-template">
        <div class="plans">
            <plan v-for="plan in plans" :name="plan" :key="plan"></plan>
        </div>
    </script>
    <script type="text/x-template" id="plan-template">
     <div>
         <div class="plan">
             ${name}
         </div>
         </p>
     </div>
    </script>
    {{ encore_entry_script_tags('plan') }}
{% endblock %}
